<nav class="navbar">
  <div class="logo">
    <img src="/assets/skylonsys-logo.png" alt="SkylonSys Logo">
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" data-tooltip="Go to Home" routerLinkActive="active" class="nav-item">Home</a></li>
    <li><a routerLink="/services" data-tooltip="Explore Services" routerLinkActive="active" class="nav-item">Services</a></li>
    <li><a routerLink="/courses" data-tooltip="View Courses" routerLinkActive="active" class="nav-item">Courses</a></li>
    <li><a routerLink="/about" data-tooltip="Learn About Us" routerLinkActive="active" class="nav-item">About Us</a></li>
    <li><a routerLink="/contact" data-tooltip="Get in Touch" routerLinkActive="active" class="nav-item">Contact</a></li>
    <li><a routerLink="/coursess" data-tooltip="See More Courses" routerLinkActive="active" class="nav-item">Coursess</a></li>
    <li><a routerLink="/servicess" data-tooltip="More Services" routerLinkActive="active" class="nav-item">Servicess</a></li>
    <li><a routerLink="/contactus" data-tooltip="Contact Us" routerLinkActive="active" class="nav-item">Contact-Us</a></li>
  </ul>
</nav>
