<div class="contact-wrapper">

  <div class="container">

    <div class="row align-items-center g-5">


      <!-- LEFT IMAGE -->

      <div
        class="col-lg-6"
        data-aos="fade-right">

        <div class="image-container">

          <img
            src="assets/contactus.png"
            alt="Contact Us"
            class="img-fluid contact-image">

        </div>

      </div>



      <!-- RIGHT FORM -->

      <div
        class="col-lg-6"
        data-aos="fade-left">

        <div class="glass-card">


          <h2 class="contact-title">

            Let's Get In Touch

          </h2>


          <p class="contact-subtitle">

            Have a question or want to know more
            about our courses?

            Send us a message and we'll get back
            to you.

          </p>



          <!-- SUCCESS MESSAGE -->

          <div
            *ngIf="successMessage"
            class="alert alert-success success-box">

            <i class="fas fa-check-circle"></i>

            {{ successMessage }}

          </div>



          <!-- ERROR MESSAGE -->

          <div
            *ngIf="errorMessage"
            class="alert alert-danger error-box">

            <i class="fas fa-exclamation-circle"></i>

            {{ errorMessage }}

          </div>



          <!-- FORM -->

          <form
            (submit)="submitForm($event)">


            <!-- SUBJECT -->

            <input
              type="hidden"
              name="_subject"
              value="New Contact Us Enquiry - FirstCodeFoundation">



            <!-- FIRST NAME -->

            <div class="form-group">

              <label for="firstName">

                <i class="fas fa-user"></i>

                First Name

              </label>

              <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="Enter your first name"
                required>

            </div>



            <!-- LAST NAME -->

            <div class="form-group">

              <label for="lastName">

                <i class="fas fa-user"></i>

                Last Name

              </label>

              <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Enter your last name"
                required>

            </div>



            <!-- PHONE -->

            <div class="form-group">

              <label for="contactNumber">

                <i class="fas fa-phone"></i>

                Contact Number

              </label>

              <input
                type="tel"
                id="contactNumber"
                name="contactNumber"
                placeholder="Enter 10 digit mobile number"
                pattern="[0-9]{10}"
                maxlength="10"
                required>

            </div>



            <!-- EMAIL -->

            <div class="form-group">

              <label for="email">

                <i class="fas fa-envelope"></i>

                Email Address

              </label>

              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                required>

            </div>



            <!-- MESSAGE -->

            <div class="form-group">

              <label for="message">

                <i class="fas fa-comment-dots"></i>

                Your Message

              </label>

              <textarea
                id="message"
                name="message"
                placeholder="Write your message..."
                rows="5"
                required></textarea>

            </div>



            <!-- BUTTON -->

            <button
              type="submit"
              class="send-button"
              [disabled]="isSubmitting">


              <span *ngIf="!isSubmitting">

                <i class="fas fa-paper-plane"></i>

                Send Message

              </span>


              <span *ngIf="isSubmitting">

                <i class="fas fa-spinner fa-spin"></i>

                Sending...

              </span>


            </button>


          </form>

        </div>

      </div>

    </div>

  </div>

</div>

